@charset "utf-8";
@font-face {
    font-family: 'Muli';
    src: url('../../../../assets/iconfont/ifont.ttf');
    font-weight: 600;
}

.ant-modal-content{
  border-radius: 12px !important;
  .ant-modal-header{
    border-radius: 12px 12px 0 0 !important;
  }
}
.head{
  .head-right{
    .ant-btn-primary{
      display: flex;
      background-color: #C9E85D !important;
      border: 1px solid #C9E85D !important;
      color: #208311;
      font-size: 18px;
      align-items: center;
      img{
        margin: 0px 8px 0px 0px;
      }
    }

  }

}
.ant-modal-footer{

 .ant-btn-primary{
  background: #cae85d ;
  border: 1px solid #C9E85D !important;
  color: #208311 !important;
}
 .ant-btn-primary:hover{
  background-color: #208311b0 ;
  border: 1px solid #208311b0 !important;
  color: #208311 !important; 
}
.ant-btn-primary:focus{
  background-color: #cae85d98 ;
}
  .ant-btn-default{
    color: #208311;
    border: 1px solid #208311 ;
  }
  .ant-btn-default:hover{
    color: #208311b0 ;
    border: 1px solid #208311b0;
  }
}

.WalletContent_address{
  top: 15px;
  right: 15px;
  position:absolute;
  display: flex;
  justify-content: center;
  color: #000;
  .off{
    background-color: #E4EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 15px;
    .iconfont{
      font-size: 20px;
    }
  }
}
.WalletModification{
  padding: 40px 10px 30px;
  
  .WalletContent{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 30px;
      font-family:'Muli' ;
      margin-bottom: 10px;
    }
  }
// #copy{
//   display: none;
// }
  .WalletContent_wallet{
    div{
      display: flex;
      justify-content: space-between;
      background-color: #F7F8FA;
      align-items: center;
      padding: 10px 12px;
      margin: 10px 0px;
      p{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      a{
        font-size: 18px;
      }
    }
  }
  .SharePaste{
    display: flex;
    justify-content: center;
    h3{
      color: #948280;
      font-size: 20px;
      margin-bottom: 0px;
    }
    p{
      cursor: pointer;
      font-size: 16px;

      margin-bottom: 5px;
      &:nth-of-type(1){
        margin-right: 20px;
      }
      a{
        color: #000;
        font-size: 16px;
      }
    }

  }
}
.walletAccount{
  border-radius: 20px;
  padding: 10px 10px;
  display: flex;
  margin-left: 5px;
  min-width: 270px;
  background-color: #2083111c;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .ant-progress-inner{
    background-color:#2083111c;
  }
  .walletAccountDiv{
    color: #6191FF;
    font-weight: 600;
  }
}
.ant-modal-body{
  padding: 14px 24px 24px !important;
}
.ant-modal-body h5{
  font-size: 20px;
}
.ant-avatar.ant-avatar-icon{
  margin-bottom: 10px;
}
.ant-btn-round.ant-btn-lg{
  margin-left: 5px;
}
.ant-progress-line{
  width: 70% !important;
  min-width: 150px !important;
}
.ant-progress{
  display: flex !important;
  .ant-progress-outer{
    width: auto;
    min-width: 200px;
    display: flex;
    align-items: center;
  }
  .ant-progress-text{
    min-width: 50px;
    width: auto;
    line-height: inherit !important;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
}
@media (min-width:0px) and (max-width:500px) {
  .HeaderPage{
    .head {
      .container{
        .head-right{
          width: 100%;
        }
      }
    }
  }  
  .head-left{
    display: none !important;
  }
  .Header{
    .ant-btn-primary{
      margin-top: 5px;
    }
  } 
  .walletAccount{
    min-width: 280px;
  }
  .ant-progress{
    .ant-progress-outer{
      min-width:100px;
    }
  } 
}
.iconPark{
  display: flex;
  align-items: center;
  img{
    margin-right: 8px;
  }
  font-size: 16px;
}
.ant-modal-body{
  p{
    margin-bottom: 22px;
  }
}
.visite{
  display: flex;
  a{
    color: #208311;
  }
}